<div class="tag-1" style="
    display: none;
"></div>

<div id="tag-2" style="
    display: none;
"></div>

<div id="tag-3" class="slick wicked" style="
    display: none;
"></div>

<div id="tag-4" style="
    display: none;
"></div>

<div id="tag-5" class="slick" style="
    display: none;
"></div>

<div id="tag-6" style="
    display: none;
"></div>

<div id="tag-7" class="slick" style="
    display: none;
"></div>
